html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    /* デフォルトinheritだと、js読み込みタイミングで--chakra-colors-chakra-border-colorが設定されるため、ページ生成時に一瞬黒色で表示される */
    --chakra-colors-chakra-border-color: #e2e8f0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
